body {
    background-color: rgb(243, 247, 231);
}


/*
div.formulario{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.for{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  background: silver;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

button {
  background: silver;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
*/